.active-link{
    color:white;
    /* border: 1px solid white; */
}
.navbar-brand{
color:white
}
/* .bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */
.mat-toolbar.mat-primary{
background-color: #3a2813;
}
.active-link[_ngcontent-mdw-c0]{
    color:white
}
 body{
     background-color: white;
 }

 .mat-sidenav-container{
    background-color: transparent;
 }