<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px"
    style="width: 100%;">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
    <ul>
          <li><a mat-button [routerLink]="['/']">Home</a></li>
          <li><a mat-button [routerLink]="['/about']">About</a></li>
          <li><a mat-button [routerLink]="['/list']">Products</a></li>
          <li><a mat-button [routerLink]="['/contact']">Contact</a></li>
          </ul>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="text-size: 100%">
          Град Кюстендил<br> 74 ул. „Бузлуджа“<br> кв. „Бузлуджа“<br>
          <i class="fa fa-phone"></i>+359 884 338 333<br>
          
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
    </div>
  </div>
  
</div>
