<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3></h3>

    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Нашата история</h2>
        <p>Магазинът ни е склад на едро и дребно за продажба на стоки от България и внос от Китай, Турция, Дубай и
          Индия. Ние сме на пазара от 2001 годинa. При нас можете да откриете голямо разнообразие от стоки за дома,
          градината и офиса на изгодни цени. Ние предлагаме широка гама от бижутерия, козметика, кухненски
          принадлежности, домашни потреби, саксии, играчки, ученически пособия, инструменти и техника. С лекота ще
          откриете продукти за декорация от типа на изкуствени цветя, вази и сувенири. Интерес представляват и многото
          изделия от стъкло и порцелан – сервизи, чаши, купи, кани, чинии и панери. Предоставяме на Вашето внимание
          разнообразие от модели и размери на рамки за снимки и картини. В www.galeya.bg ще намерите широк асортимент от
          будилници, чехли, шапки, рибарски принадлежности, канцеларски материали, перилни препарати, портмонета,
          чадъри, цветарници и още много други стоки, които можете да разгледате именно тук на нашия сайт или на място в
          нашия магазин. На всеки две седмици получаваме нова стока и можете да направите своя избор с помоща на
          квалифициран персонал. За количество и търговци на едро специални цени!!!</p>
      </div>

    </div>
  </div>



</div>