
<div style="height: auto;float: 1;">
<div class="mt-5" style="padding: 0px 200px 0px 200px; " *ngIf="cartService.items && cartService.items.length > 0">

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of this.items" class="card-col col-12 col-lg-4">
            <td><img class="feature-image" src={{item.image}}></td>
            <td>{{item.title}}</td>
            <td>{{item.price | currency:'USD'}} </td>
            <td>{{item.quantity}}Pcs <div>
                <button type="button" (click)="stepDown(item.quantity,item._id)">
                  -
                </button>
              
                <button type="button" (click)="stepUp(item.quantity,item._id)">
                  +
                </button>
              </div></td>
            <td><button mat-button color="accent" (click)="deleteItem(item)" class="float-right"> Remove</button></td>

        </tr>
        <tr>
            <th></th>
            <th>Total</th>
            <th>{{cartService.calculateTotal() | currency:'USD'}}

            </th>
            <th></th>
        </tr>
    </table>
    <br />
    <br />
    <h2 *ngIf="authService.isAuthenticated">Submit Order</h2>
    <form #contactForm="ngForm" *ngIf="authService.isAuthenticated" (submit)=submitOrder() name="myForm">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input  required minlength="4" type="tel" matInput placeholder="Name" name="name" [(ngModel)]="contact.name" >
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Telephone</mat-label>
                    <input required minlength="4" type="tel" matInput placeholder="Telephone" name="tel" [(ngModel)]="contact.tel">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" required minlength="4" matInput placeholder="Email" name="email" [(ngModel)]="contact.email">
                   
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    
                </mat-form-field>

            </div>
        </div>
        <div class="action text-right mt-5">
            <button *ngIf="authService.isAuthenticated" mat-raised-button color="accent" type="submit">Submit <mat-icon matSuffix></mat-icon></button>

        </div>
    </form>
    <h2 *ngIf="!authService.isAuthenticated">You must be Logged in to Submit Order</h2>
    <a mat-button *ngIf="!authService.isAuthenticated" [routerLink]="'/login'"> Login </a>
    <a mat-button *ngIf="!authService.isAuthenticated" [routerLink]="'/register'"> Register </a>
</div>
<div class="mt-5" style="padding: 0px 200px 0px 200px;  color:black" *ngIf="cartService.items.length == 0">
    No Items
</div>
</div>