.active-link{
    color:white;
}
.navbar-brand{
color:white
}

.mat-toolbar.mat-primary{
background-color: #3a2813;
}
.active-link[_ngcontent-mdw-c0]{
    color:white
}
 body{
     background-color: white;
 }

 .mat-sidenav-container{
    background-color: transparent;
 }
 