<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>------</p>
        <p>----</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>-------</dd>
              <dt>--------</dt>
              <dd>------</dd>
              <dt>--------</dt>
              <dd>---------</dd>
              <dt>------</dt>
              <dd>--------</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>



</div>