
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Our Page</h1>
      
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>General info</h2>
        <p>----</p>
        <p>-------</p>
        <p>--------</p>
        <p>----------</p>
        <p>----------</p>
        <p>---------</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >No details &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Login info</h2>
        <p>
         ------------
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >No details &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading-Temp</h2>
        <p>
         -----------
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
 

