/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
/* @import '~ngx-toastr/toastr'; */
html,

body {
    
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    
    }
/* .bg{
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.mat-drawer-content{
  overflow: hidden;
}