
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Добре дошли </h1>
      
    </div>
  </div>

  <div class="container">
    <p>Нуждае ли се домът ви от освежаване и нова декорация? Изборът на правилния стил може да се окаже по-труден отколкото изглежда. Започнете промяната от по-малките неща. Не е нужно да хвърляте цяло състояние в преобразяване.

      В Магазина ни ще намерите огромен избор от продукти и аксесоари за дома, което ви позволява да постигнете перфектната атмосфера в жилището си. Изберете нова красива и лампа или покривка за маса, декоративна възглавница с модерен мотив или килим и още много. 
    </p>

    <hr />
  </div>

