<!-- 
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title style="font-size:xx-large;">Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width" style="font-size:xx-large;">
            <input #userUsername matInput placeholder="Username" type="username" name="username" id="username"
            (keyup)="updateInputValue('username', userUsername.value)"
            >
          </mat-form-field><br>
          <mat-form-field class="example-full-width" style="font-size:xx-large;">
            <input #userrePassword matInput placeholder="Password" type="password" name="rePassword" id="password"
            (keyup)="updateInputValue('rePassword', userrePassword.value)"
            >
          </mat-form-field><br>

          <mat-form-field class="example-full-width" style="font-size:xx-large;">
            <input #userPassword matInput placeholder="Password" type="password" name="password" id="password"
            (keyup)="updateInputValue('password', userPassword.value)"
            >
          </mat-form-field><br>
  
          <a href="/contact" class="login-help-link" data-uia="login-help-link">Need help?</a>
        </mat-card-content>
  
        <button mat-stroked-button color="accent" (click)="submitFormHandler()" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>
   -->
   <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
          <h4>Register New User</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
               <mat-form-field>
                  <input [(ngModel)]="registerData.email" name="email" matInput placeholder="email" type="email">
               </mat-form-field>
               <mat-form-field>
                  <input [(ngModel)]="registerData.password" name="password" matInput placeholder="password" type="password">
               </mat-form-field>
              <br/>
               <mat-form-field>
                  <input [(ngModel)]="registerData.name" name="name" matInput placeholder="name">
               </mat-form-field>
              <br/>
              <mat-form-field style="width: 100%">
                  <textarea [(ngModel)]="registerData.description" name="description" matInput placeholder="description"></textarea>
               </mat-form-field>
              <br/>
              <button (click)="post()" mat-raised-button color="primary">Register</button>
          </form>
      </mat-card-content>
  </mat-card> -->







<div class="login-wrapper">
  <h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="post()">
    <div class="form-group">
        <label for="firstName">Email: </label>
        <input type="email" formControlName="firstName" [email]="true" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Name: </label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Description: </label>
        <textarea formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">  </textarea>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="" class="btn btn-link">Cancel</a>
    </div>
</form>

</div>
  